<div class="post-item-wrapper">
    <a class="post-item-link" href="POST_HREF" role="link" tabindex="0">
        <div class="post-image-container">
            <div class="post-image-wrapper" style="padding-bottom: 133.333%;">
                <img alt="POST_ALT" class="post-image" crossorigin="anonymous" src="POST_IMAGE_URL" style="object-fit: cover;">
            </div>
            <div class="post-overlay">
                <div class="post-hover-stats">
                    <div class="post-stat-item">
                        <svg aria-label="좋아요" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                            <title>좋아요</title>
                            <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.12-1.763a4.21 4.21 0 0 1 3.675-1.941m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.307 5.827 4.77 7.65 2.829 2.53 5.208 4.654 6.23 5.378a1 1 0 0 0 1 0c1.022-.724 3.401-2.848 6.23-5.378C20.693 14.95 23 12.732 23 9.122a6.985 6.985 0 0 0-6.208-6.218Z"></path>
                        </svg>
                        <span class="post-stat-count">POST_LIKES</span>
                    </div>
                    <div class="post-stat-item">
                        <svg aria-label="댓글" fill="none" height="24" role="img" viewBox="0 0 24 24" width="24">
                            <title>댓글</title>
                            <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
                        </svg>
                        <span class="post-stat-count">POST_COMMENTS</span>
                    </div>
                </div>
            </div>
        </div>
        POST_BADGE
    </a>
</div>
